[submodule "Actividad5/scrum-project"]
	path = Actividad5/scrum-project
	url = https://github.com/Renato200419/scrum-project
[submodule "Actividad6/Pregunta-8"]
	path = Actividad6/Pregunta-8
	url = https://github.com/Renato200419/proyecto-.gitignore-Pregunta8
[submodule "Actividad9/Word-Guessing-Game"]
	path = Actividad9/Word-Guessing-Game
	url = https://github.com/Renato200419/Word-Guessing-Game.git
[submodule "Actividad7y8/Actividad-7-y-8-Grupal"]
	path = Actividad7y8/Actividad-7-y-8-Grupal
	url = https://github.com/Renato200419/Actividad-7-y-8-Grupal.git
